body{
margin:0;
background:#0b0f1a;
font-family:Arial;
color:white;
}

#title{
position:absolute;
z-index:1000;
width:100%;
padding:12px;
background:rgba(0,0,0,0.6);
text-align:center;
font-size:22px;
}

#map{
height:100vh;
width:100%;
}

.plane{
width:26px;
height:26px;
animation:float 2s infinite ease-in-out;
}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-3px)}
100%{transform:translateY(0)}
}
