body{
margin:0;
padding:0;
overflow:hidden;
}

#map{
height:100vh;
width:100%;
background:black;
}

.leaflet-marker-icon{
transition: transform 0.1s linear;
}

.planeIcon{
width:60px;
height:60px;
filter: drop-shadow(0 0 6px red);
}
